<head>

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar close">
        <ul class="nav-links">
            <li>
                <div class="iocn-link">
                    <a routerLink="/categoriacomputador">
                        <i class='bx bx-collection'></i>
                        <span class="link_name" routerLink="/categoriacomputador">Computadores</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" routerLink="/categoriacomputador">Computadores</a></li>


                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a routerLink="/categorianotebook">
                        <i class='bx bx-collection'></i>
                        <span class="link_name" routerLink="/categorianotebook">Notebook</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" routerLink="/categorianotebook">Notebook</a></li>


                </ul>
            </li> <li>
                <div class="iocn-link">
                    <a routerLink="/categoriaperifericos">
                        <i class='bx bx-collection'></i>
                        <span class="link_name" >Periferícos</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" routerLink="/categoriaperifericos">Periferícos</a></li>
                    <li><a routerLink="/subcategoriafones">Fones</a></li>
                    <li><a routerLink="/subcategoriateclado">Teclado</a></li>
                    <li><a routerLink="/subcategoriamouse">Mouse</a></li>
                </ul>
            </li> <li>
                <div class="iocn-link">
                    <a routerLink="/categoriaacessorio">
                        <i class='bx bx-collection'></i>
                        <span class="link_name"routerLink="/categoriaacessorio">Acessórios</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" routerLink="/categoriaacessorio">Acessórios</a></li>
                    <li><a routerLink="/subcategoriapoiodepulso">Apoio de Pulso</a></li>
                    <li><a routerLink="/subcategoriasuporte">Suportes</a></li>
                    <li><a routerLink="/subcategoriacabos">Cabos</a></li>
                </ul>
            </li> <li>
                <div class="iocn-link">
                    <a routerLink="/categoriaarmazenamento">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">SSD/HD/RAM</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" routerLink="/categoriaarmazenamento">SSD/HD/RAM</a></li>
                    <li><a routerLink="/subcategoriassd">SSD</a></li>
                    <li><a routerLink="/subcategorihd">HD</a></li>
                    <li><a routerLink="/subcategoriaram">Memória Ram</a></li>


                </ul>
            </li> <li>
                <div class="iocn-link">
                    <a routerLink="/categoriaplacamae">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Placa mae </span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" routerLink="/categoriaplacamae">Placa mae</a></li>
                </ul>
            </li> <li>
                <div class="iocn-link">
                    <a routerLink="/categoriarefrigeracao">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Refrigeraçao</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" routerLink="/categoriarefrigeracao">Refrigeraçao</a></li>
                    <li><a routerLink="/subcategoriapastatermica">Pasta termica</a></li>
                    <li><a routerLink="/subcategoriacooler">Cooler</a></li>

                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a routerLink="/categoriafontes">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Fontes</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" routerLink="/categoriafontes">Fontes</a></li>


                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a routerLink="/categoriaprocessadores">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Processadores</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" routerLink="/categoriaprocessadores">Processadores</a></li>


                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a routerLink="/categoriaplacadevideo">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Placa de video </span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" routerLink="/categoriaplacadevideo">Placa de video </a></li>


                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a routerLink="/categoriaoutros">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Outros</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" routerLink="/categoriaoutros">Outros</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
        </div>
    </section>

    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }

        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
