<div class="container">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper tamanho">
        <img
          src="assets/Eletronicos-com-ofertas-antecipadas.jpg"
          alt="Random first slide"
          width="1300"
          height="600"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/wallpaperbetter.jpg"
          alt="Random second slide"
          width="1300"
          height="600"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/20210510-Eletronicos.jpg"
          alt="Random third slide"
          width="1300"
          height="600"
        />
      </div>
    </ng-template>
  </ngb-carousel>
</div>
