<nav>
  <a class="logo" href="/admin"> Painel Administrativo </a>
  <div class="sidebar">
    <i class="bx bx-menu menu-icon"></i>
    <ul class="nav-list">
      <li>
        <a class="text" routerLink="/admincategory" routerLinkActive="selected"
          >Categorias</a
        >
      </li>
      <li>
        <a class="text" routerLink="/adminproduct" routerLinkActive="selected"
          >Produtos</a
        >
      </li>
      <li>
        <a class="text" routerLink="/adminclient" routerLinkActive="selected"
          >Clientes</a
        >
      </li>
      <li>
        <a class="text" routerLink="/adminprovider" routerLinkActive="selected"
          >Fornecedor</a
        >
      </li>
    </ul>
  </div>
</nav>
