<app-navbar></app-navbar>
<app-carousel-basic></app-carousel-basic>
 <main>
      <h1>Bem Vindo a Loja Combo!!</h1>
      <article>
        <h1>
          Promoções abaixo
        </h1>
      </article>
    </main>
    <div class="row">
      <ng-container *ngFor="let item of filterCategory | filter:'Promoções':'idCategory'">
    <div class="card">
    <div class="imgBx">
      <img
        src="{{item.urlImage}}"
        alt=""
      />
    </div>
    <div class="contentBx">
      <h3>{{item.name}}</h3>
      <h2 class="price">R$ {{item.price}}</h2>
      <h3>{{item.description}}</h3>
      <a class="buy"(click)=addtocart(item) routerLink="/carrinho">Adicionar ao Carrinho</a>
    </div>
  </div>
  </ng-container>
  </div>
<app-rodape></app-rodape>
